### **特徴量 ver2**
店舗の情報, 商品の情報, イベント情報, 日時情報, 価格情報, One-HotEncoding

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import os
import glob
import matplotlib.pyplot as plt
import matplotlib as mpl
from myUtils import reduce_mem_usage,encode_categorical,encode_onehot

import gc
mpl.rcParams['agg.path.chunksize'] = 100000

#### **ベースのデータ**
ここに情報をくっつけていく

In [2]:
data = pd.read_pickle(os.path.join("mydata","sales_train_val.pickle")) #preprocessing.ipynbで作成したデータ
data.head(5)

,id,item_id,dept_id,cat_id,store_id,state_id,d,item_cnt,data_part
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train

#### **カレンダー情報**

In [3]:
calendar = pd.read_csv(os.path.join("rawdata","calendar.csv"))
print("**** calendar ****")
display(calendar.head(5))

**** calendar ****

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

#### **価格の情報を結合**
- 各商品, 各店舗ごとに, 週ごとの価格が入ってる. 
- 週番号11101～11324の値がないので, 商品, 店舗ごとに価格の最大値, 最小値, 平均, 中央値を計算する

In [4]:
sell_prices = pd.read_csv(os.path.join("rawdata","sell_prices.csv"))
sell_prices = sell_prices.groupby(by=["item_id","store_id"]).agg({"sell_price":["median","mean","max","min"]})
sell_prices = sell_prices.reset_index()
sell_prices.columns = ["item_id","store_id","price-median","price-mean","price-max","price-min"]
print("**** sell_prices ****")
display(sell_prices)

**** sell_prices ****

,item_id,store_id,price-median,price-mean,price-max,price-min
0,FOODS_1_001,CA_1,2.24,2.169362,2.24,2.00
1,FOODS_1_001,CA_2,2.24,2.169362,2.24,2.00
2,FOODS_1_001,CA_3,2.24,2.158262,2.24,1.75
3,FOODS_1_001,CA_4,2.24,2.169362,2.24,2.00
4,FOODS_1_001,TX_1,2.24,2.157624,2.24,0.99
...,...,...,...,...,...,...
30485,HOUSEHOLD_2_516,TX_2,5.94,5.922482,5.94,3.00
30486,HOUSEHOLD_2_516,TX_3,5.94,5.922447,5.94,0.99
30487,HOUSEHOLD_2_516,WI_1,5.94,5.940000,5.94,5.94
30488,HOUSEHOLD_2_516,WI_2,5.94,5.940000,5.94,5.94
30489,HOUSEHOLD_2_516,WI_3,5.94,5.940000,5.94,5.94

#### **カレンダー, 価格情報を付与する**

In [5]:
data = pd.merge(data,calendar,on=["d"],how="left") # カレンダー情報
data = pd.merge(data,sell_prices,on=["item_id","store_id"],how="left") # 価格情報

print("**** data(joined price-info) ****")
data = reduce_mem_usage(data)
display(data.head(5))

**** data(joined price-info) ****
Mem. usage decreased to 7958.26 Mb (33.8% reduction)

,id,item_id,dept_id,cat_id,store_id,state_id,d,item_cnt,data_part,date,...,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,price-median,price-mean,price-max,price-min
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train,2011-01-29,...,NaN,NaN,NaN,0,0,0,8.257812,8.289062,9.578125,8.257812
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train,2011-01-29,...,NaN,NaN,NaN,0,0,0,3.970703,3.970703,3.970703,3.970703
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train,2011-01-29,...,NaN,NaN,NaN,0,0,0,2.970703,2.970703,2.970703,2.970703
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train,2011-01-29,...,NaN,NaN,NaN,0,0,0,4.640625,4.527344,4.640625,4.339844
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,train,2011-01-29,...,NaN,NaN,NaN,0,0,0,2.980469,2.941406,3.080078,2.480469

#### **各カラム, NaNを埋める**

In [6]:
# 各特徴量 NaNの割合
print("**** ratio of NaN-values ****")
display(data.isna().sum()/len(data)*100)

**** ratio of NaN-values ****

id               0.000000
item_id          0.000000
dept_id          0.000000
cat_id           0.000000
store_id         0.000000
state_id         0.000000
d                0.000000
item_cnt         2.844083
data_part        0.000000
date             0.000000
wm_yr_wk         0.000000
weekday          0.000000
wday             0.000000
month            0.000000
year             0.000000
event_name_1    91.772473
event_type_1    91.772473
event_name_2    99.746064
event_type_2    99.746064
snap_CA          0.000000
snap_TX          0.000000
snap_WI          0.000000
price-median     0.000000
price-mean       0.000000
price-max        0.000000
price-min        0.000000
dtype: float64

In [7]:
# year,month,wday
data["date"] = pd.to_datetime(data["date"])
data["year"] = data["date"].dt.year
data["month"] = data["date"].dt.month
data["wday"] = data["date"].dt.weekday

#### **One-Hot Encoding**

In [9]:
cols = ['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id','event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
data = encode_onehot(data, cols=cols)
data = reduce_mem_usage(data)

display(data.head(5))

Mem. usage decreased to 5315.90 Mb (17.7% reduction)

,id,d,item_cnt,data_part,date,wm_yr_wk,weekday,wday,month,year,...,event_type_1_Cultural,event_type_1_National,event_type_1_Religious,event_type_1_Sporting,event_name_2_Cinco De Mayo,event_name_2_Easter,event_name_2_Father's day,event_name_2_OrthodoxEaster,event_type_2_Cultural,event_type_2_Religious
0,HOBBIES_1_001_CA_1_validation,d_1,0.0,train,2011-01-29,11101,Saturday,5,1,2011,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,d_1,0.0,train,2011-01-29,11101,Saturday,5,1,2011,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,d_1,0.0,train,2011-01-29,11101,Saturday,5,1,2011,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,d_1,0.0,train,2011-01-29,11101,Saturday,5,1,2011,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,d_1,0.0,train,2011-01-29,11101,Saturday,5,1,2011,...,0,0,0,0,0,0,0,0,0,0

In [12]:
data.to_pickle(os.path.join("mydata","data_v2.pickle"))

In [21]:
list(data.columns)

['id',
 'd',
 'item_cnt',
 'data_part',
 'date',
 'wm_yr_wk',
 'weekday',
 'wday',
 'month',
 'year',
 'snap_CA',
 'snap_TX',
 'snap_WI',
 'price-median',
 'price-mean',
 'price-max',
 'price-min',
 'item_id_FOODS_1_001',
 'item_id_FOODS_1_002',
 'item_id_FOODS_1_003',
 'item_id_FOODS_1_004',
 'item_id_FOODS_1_005',
 'item_id_FOODS_1_006',
 'item_id_FOODS_1_008',
 'item_id_FOODS_1_009',
 'item_id_FOODS_1_010',
 'item_id_FOODS_1_011',
 'item_id_FOODS_1_012',
 'item_id_FOODS_1_013',
 'item_id_FOODS_1_014',
 'item_id_FOODS_1_015',
 'item_id_FOODS_1_016',
 'item_id_FOODS_1_017',
 'item_id_FOODS_1_018',
 'item_id_FOODS_1_019',
 'item_id_FOODS_1_020',
 'item_id_FOODS_1_021',
 'item_id_FOODS_1_022',
 'item_id_FOODS_1_023',
 'item_id_FOODS_1_024',
 'item_id_FOODS_1_025',
 'item_id_FOODS_1_026',
 'item_id_FOODS_1_027',
 'item_id_FOODS_1_028',
 'item_id_FOODS_1_029',
 'item_id_FOODS_1_030',
 'item_id_FOODS_1_031',
 'item_id_FOODS_1_032',
 'item_id_FOODS_1_033',
 'item_id_FOODS_1_034',
 'item_id_FOODS_1_035',
 'item_id_FOODS_1_036',
 'item_id_FOODS_1_037',
 'item_id_FOODS_1_038',
 'item_id_FOODS_1_039',
 'item_id_FOODS_1_040',
 'item_id_FOODS_1_041',
 'item_id_FOODS_1_042',
 'item_id_FOODS_1_043',
 'item_id_FOODS_1_044',
 'item_id_FOODS_1_045',
 'item_id_FOODS_1_046',
 'item_id_FOODS_1_047',
 'item_id_FOODS_1_048',
 'item_id_FOODS_1_049',
 'item_id_FOODS_1_050',
 'item_id_FOODS_1_051',
 'item_id_FOODS_1_052',
 'item_id_FOODS_1_053',
 'item_id_FOODS_1_054',
 'item_id_FOODS_1_055',
 'item_id_FOODS_1_056',
 'item_id_FOODS_1_057',
 'item_id_FOODS_1_058',
 'item_id_FOODS_1_059',
 'item_id_FOODS_1_060',
 'item_id_FOODS_1_061',
 'item_id_FOODS_1_062',
 'item_id_FOODS_1_063',
 'item_id_FOODS_1_064',
 'item_id_FOODS_1_065',
 'item_id_FOODS_1_066',
 'item_id_FOODS_1_067',
 'item_id_FOODS_1_068',
 'item_id_FOODS_1_069',
 'item_id_FOODS_1_070',
 'item_id_FOODS_1_071',
 'item_id_FOODS_1_072',
 'item_id_FOODS_1_073',
 'item_id_FOODS_1_074',
 'item_id_FOODS_1_075',
 'item_id_FOODS_1_076',
 'item_id_FOODS_1_077',
 'item_id_FOODS_1_078',
 'item_id_FOODS_1_079',
 'item_id_FOODS_1_080',
 'item_id_FOODS_1_081',
 'item_id_FOODS_1_082',
 'item_id_FOODS_1_083',
 'item_id_FOODS_1_084',
 'item_id_FOODS_1_085',
 'item_id_FOODS_1_086',
 'item_id_FOODS_1_087',
 'item_id_FOODS_1_088',
 'item_id_FOODS_1_089',
 'item_id_FOODS_1_090',
 'item_id_FOODS_1_091',
 'item_id_FOODS_1_092',
 'item_id_FOODS_1_093',
 'item_id_FOODS_1_094',
 'item_id_FOODS_1_095',
 'item_id_FOODS_1_096',
 'item_id_FOODS_1_097',
 'item_id_FOODS_1_098',
 'item_id_FOODS_1_099',
 'item_id_FOODS_1_101',
 'item_id_FOODS_1_102',
 'item_id_FOODS_1_103',
 'item_id_FOODS_1_104',
 'item_id_FOODS_1_105',
 'item_id_FOODS_1_106',
 'item_id_FOODS_1_107',
 'item_id_FOODS_1_108',
 'item_id_FOODS_1_109',
 'item_id_FOODS_1_110',
 'item_id_FOODS_1_111',
 'item_id_FOODS_1_112',
 'item_id_FOODS_1_113',
 'item_id_FOODS_1_114',
 'item_id_FOODS_1_115',
 'item_id_FOODS_1_116',
 'item_id_FOODS_1_117',
 'item_id_FOODS_1_118',
 'item_id_FOODS_1_119',
 'item_id_FOODS_1_120',
 'item_id_FOODS_1_121',
 'item_id_FOODS_1_122',
 'item_id_FOODS_1_123',
 'item_id_FOODS_1_124',
 'item_id_FOODS_1_125',
 'item_id_FOODS_1_126',
 'item_id_FOODS_1_127',
 'item_id_FOODS_1_128',
 'item_id_FOODS_1_129',
 'item_id_FOODS_1_130',
 'item_id_FOODS_1_131',
 'item_id_FOODS_1_132',
 'item_id_FOODS_1_133',
 'item_id_FOODS_1_134',
 'item_id_FOODS_1_135',
 'item_id_FOODS_1_136',
 'item_id_FOODS_1_137',
 'item_id_FOODS_1_138',
 'item_id_FOODS_1_139',
 'item_id_FOODS_1_140',
 'item_id_FOODS_1_141',
 'item_id_FOODS_1_142',
 'item_id_FOODS_1_143',
 'item_id_FOODS_1_144',
 'item_id_FOODS_1_145',
 'item_id_FOODS_1_146',
 'item_id_FOODS_1_147',
 'item_id_FOODS_1_148',
 'item_id_FOODS_1_149',
 'item_id_FOODS_1_150',
 'item_id_FOODS_1_151',
 'item_id_FOODS_1_152',
 'item_id_FOODS_1_153',
 'item_id_FOODS_1_154',
 'item_id_FOODS_1_155',
 'item_id_FOODS_1_156',
 'item_id_FOODS_1_157',
 'item_id_FOODS_1_158',
 'item_id_FOODS_1_159',
 'item_id_FOODS_1_160',
 'item_id_FOODS_1_161',
 'item_id_FOODS_1_162',
 'item_id_FOODS_1_163',
 'item_id_FOODS_1_164',
 'item_id_FOODS_1_166',
 'item_id_FOODS_1_167',
 'item_id_FOODS_1_168',
 'item_id_FOODS_1_169',
 'item_id_FOODS_1_170',
 'item_id_FOODS_1_171',
 'item_id_FOODS_1_172',
 'item_id_FOODS_1_173',
 'item_id_FOODS_1_174',
 'item_id_FOODS_1_175',
 'item_id_FOODS_1_176',
 'item_id_FOODS_1_177',
 'item_id_FOODS_1_178',
 'item_id_FOODS_1_179',
 'item_id_FOODS_1_180',
 'item_id_FOODS_1_181',
 'item_id_FOODS_1_182',
 'item_id_FOODS_1_183',
 'item_id_FOODS_1_184',
 'item_id_FOODS_1_185',
 'item_id_FOODS_1_186',
 'item_id_FOODS_1_187',
 'item_id_FOODS_1_188',
 'item_id_FOODS_1_189',
 'item_id_FOODS_1_190',
 'item_id_FOODS_1_191',
 'item_id_FOODS_1_192',
 'item_id_FOODS_1_193',
 'item_id_FOODS_1_194',
 'item_id_FOODS_1_195',
 'item_id_FOODS_1_196',
 'item_id_FOODS_1_197',
 'item_id_FOODS_1_198',
 'item_id_FOODS_1_199',
 'item_id_FOODS_1_200',
 'item_id_FOODS_1_201',
 'item_id_FOODS_1_202',
 'item_id_FOODS_1_203',
 'item_id_FOODS_1_204',
 'item_id_FOODS_1_205',
 'item_id_FOODS_1_206',
 'item_id_FOODS_1_207',
 'item_id_FOODS_1_208',
 'item_id_FOODS_1_209',
 'item_id_FOODS_1_210',
 'item_id_FOODS_1_211',
 'item_id_FOODS_1_212',
 'item_id_FOODS_1_213',
 'item_id_FOODS_1_214',
 'item_id_FOODS_1_215',
 'item_id_FOODS_1_216',
 'item_id_FOODS_1_217',
 'item_id_FOODS_1_218',
 'item_id_FOODS_1_219',
 'item_id_FOODS_2_001',
 'item_id_FOODS_2_002',
 'item_id_FOODS_2_003',
 'item_id_FOODS_2_004',
 'item_id_FOODS_2_005',
 'item_id_FOODS_2_006',
 'item_id_FOODS_2_007',
 'item_id_FOODS_2_008',
 'item_id_FOODS_2_009',
 'item_id_FOODS_2_010',
 'item_id_FOODS_2_011',
 'item_id_FOODS_2_012',
 'item_id_FOODS_2_013',
 'item_id_FOODS_2_014',
 'item_id_FOODS_2_015',
 'item_id_FOODS_2_016',
 'item_id_FOODS_2_017',
 'item_id_FOODS_2_018',
 'item_id_FOODS_2_019',
 'item_id_FOODS_2_020',
 'item_id_FOODS_2_021',
 'item_id_FOODS_2_022',
 'item_id_FOODS_2_023',
 'item_id_FOODS_2_024',
 'item_id_FOODS_2_025',
 'item_id_FOODS_2_026',
 'item_id_FOODS_2_027',
 'item_id_FOODS_2_028',
 'item_id_FOODS_2_029',
 'item_id_FOODS_2_030',
 'item_id_FOODS_2_031',
 'item_id_FOODS_2_032',
 'item_id_FOODS_2_033',
 'item_id_FOODS_2_034',
 'item_id_FOODS_2_035',
 'item_id_FOODS_2_036',
 'item_id_FOODS_2_037',
 'item_id_FOODS_2_038',
 'item_id_FOODS_2_039',
 'item_id_FOODS_2_040',
 'item_id_FOODS_2_041',
 'item_id_FOODS_2_042',
 'item_id_FOODS_2_043',
 'item_id_FOODS_2_044',
 'item_id_FOODS_2_045',
 'item_id_FOODS_2_046',
 'item_id_FOODS_2_047',
 'item_id_FOODS_2_048',
 'item_id_FOODS_2_049',
 'item_id_FOODS_2_050',
 'item_id_FOODS_2_051',
 'item_id_FOODS_2_052',
 'item_id_FOODS_2_053',
 'item_id_FOODS_2_054',
 'item_id_FOODS_2_055',
 'item_id_FOODS_2_056',
 'item_id_FOODS_2_057',
 'item_id_FOODS_2_058',
 'item_id_FOODS_2_059',
 'item_id_FOODS_2_060',
 'item_id_FOODS_2_061',
 'item_id_FOODS_2_062',
 'item_id_FOODS_2_063',
 'item_id_FOODS_2_064',
 'item_id_FOODS_2_065',
 'item_id_FOODS_2_066',
 'item_id_FOODS_2_067',
 'item_id_FOODS_2_068',
 'item_id_FOODS_2_069',
 'item_id_FOODS_2_070',
 'item_id_FOODS_2_071',
 'item_id_FOODS_2_072',
 'item_id_FOODS_2_073',
 'item_id_FOODS_2_074',
 'item_id_FOODS_2_075',
 'item_id_FOODS_2_076',
 'item_id_FOODS_2_077',
 'item_id_FOODS_2_078',
 'item_id_FOODS_2_079',
 'item_id_FOODS_2_080',
 'item_id_FOODS_2_081',
 'item_id_FOODS_2_082',
 'item_id_FOODS_2_083',
 'item_id_FOODS_2_084',
 'item_id_FOODS_2_085',
 'item_id_FOODS_2_086',
 'item_id_FOODS_2_087',
 'item_id_FOODS_2_088',
 'item_id_FOODS_2_089',
 'item_id_FOODS_2_090',
 'item_id_FOODS_2_091',
 'item_id_FOODS_2_092',
 'item_id_FOODS_2_093',
 'item_id_FOODS_2_094',
 'item_id_FOODS_2_095',
 'item_id_FOODS_2_096',
 'item_id_FOODS_2_097',
 'item_id_FOODS_2_099',
 'item_id_FOODS_2_100',
 'item_id_FOODS_2_101',
 'item_id_FOODS_2_102',
 'item_id_FOODS_2_103',
 'item_id_FOODS_2_104',
 'item_id_FOODS_2_105',
 'item_id_FOODS_2_106',
 'item_id_FOODS_2_107',
 'item_id_FOODS_2_108',
 'item_id_FOODS_2_109',
 'item_id_FOODS_2_110',
 'item_id_FOODS_2_111',
 'item_id_FOODS_2_112',
 'item_id_FOODS_2_113',
 'item_id_FOODS_2_114',
 'item_id_FOODS_2_115',
 'item_id_FOODS_2_116',
 'item_id_FOODS_2_117',
 'item_id_FOODS_2_118',
 'item_id_FOODS_2_119',
 'item_id_FOODS_2_120',
 'item_id_FOODS_2_121',
 'item_id_FOODS_2_122',
 'item_id_FOODS_2_123',
 'item_id_FOODS_2_124',
 'item_id_FOODS_2_125',
 'item_id_FOODS_2_126',
 'item_id_FOODS_2_127',
 'item_id_FOODS_2_128',
 'item_id_FOODS_2_129',
 'item_id_FOODS_2_130',
 'item_id_FOODS_2_131',
 'item_id_FOODS_2_132',
 'item_id_FOODS_2_133',
 'item_id_FOODS_2_134',
 'item_id_FOODS_2_135',
 'item_id_FOODS_2_136',
 'item_id_FOODS_2_137',
 'item_id_FOODS_2_138',
 'item_id_FOODS_2_139',
 'item_id_FOODS_2_140',
 'item_id_FOODS_2_141',
 'item_id_FOODS_2_142',
 'item_id_FOODS_2_143',
 'item_id_FOODS_2_144',
 'item_id_FOODS_2_145',
 'item_id_FOODS_2_146',
 'item_id_FOODS_2_147',
 'item_id_FOODS_2_148',
 'item_id_FOODS_2_149',
 'item_id_FOODS_2_150',
 'item_id_FOODS_2_151',
 'item_id_FOODS_2_152',
 'item_id_FOODS_2_153',
 'item_id_FOODS_2_154',
 'item_id_FOODS_2_155',
 'item_id_FOODS_2_156',
 'item_id_FOODS_2_157',
 'item_id_FOODS_2_158',
 'item_id_FOODS_2_159',
 'item_id_FOODS_2_160',
 'item_id_FOODS_2_161',
 'item_id_FOODS_2_162',
 'item_id_FOODS_2_163',
 'item_id_FOODS_2_164',
 'item_id_FOODS_2_165',
 'item_id_FOODS_2_166',
 'item_id_FOODS_2_167',
 'item_id_FOODS_2_168',
 'item_id_FOODS_2_169',
 'item_id_FOODS_2_170',
 'item_id_FOODS_2_171',
 'item_id_FOODS_2_172',
 'item_id_FOODS_2_173',
 'item_id_FOODS_2_174',
 'item_id_FOODS_2_175',
 'item_id_FOODS_2_176',
 'item_id_FOODS_2_177',
 'item_id_FOODS_2_178',
 'item_id_FOODS_2_179',
 'item_id_FOODS_2_180',
 'item_id_FOODS_2_181',
 'item_id_FOODS_2_182',
 'item_id_FOODS_2_183',
 'item_id_FOODS_2_184',
 'item_id_FOODS_2_185',
 'item_id_FOODS_2_186',
 'item_id_FOODS_2_187',
 'item_id_FOODS_2_188',
 'item_id_FOODS_2_189',
 'item_id_FOODS_2_190',
 'item_id_FOODS_2_191',
 'item_id_FOODS_2_192',
 'item_id_FOODS_2_193',
 'item_id_FOODS_2_194',
 'item_id_FOODS_2_195',
 'item_id_FOODS_2_196',
 'item_id_FOODS_2_197',
 'item_id_FOODS_2_198',
 'item_id_FOODS_2_199',
 'item_id_FOODS_2_200',
 'item_id_FOODS_2_201',
 'item_id_FOODS_2_202',
 'item_id_FOODS_2_203',
 'item_id_FOODS_2_204',
 'item_id_FOODS_2_205',
 'item_id_FOODS_2_206',
 'item_id_FOODS_2_207',
 'item_id_FOODS_2_208',
 'item_id_FOODS_2_209',
 'item_id_FOODS_2_210',
 'item_id_FOODS_2_211',
 'item_id_FOODS_2_212',
 'item_id_FOODS_2_213',
 'item_id_FOODS_2_214',
 'item_id_FOODS_2_215',
 'item_id_FOODS_2_216',
 'item_id_FOODS_2_217',
 'item_id_FOODS_2_218',
 'item_id_FOODS_2_219',
 'item_id_FOODS_2_220',
 'item_id_FOODS_2_221',
 'item_id_FOODS_2_222',
 'item_id_FOODS_2_223',
 'item_id_FOODS_2_224',
 'item_id_FOODS_2_225',
 'item_id_FOODS_2_226',
 'item_id_FOODS_2_227',
 'item_id_FOODS_2_228',
 'item_id_FOODS_2_229',
 'item_id_FOODS_2_230',
 'item_id_FOODS_2_231',
 'item_id_FOODS_2_232',
 'item_id_FOODS_2_233',
 'item_id_FOODS_2_234',
 'item_id_FOODS_2_235',
 'item_id_FOODS_2_236',
 'item_id_FOODS_2_237',
 'item_id_FOODS_2_238',
 'item_id_FOODS_2_239',
 'item_id_FOODS_2_240',
 'item_id_FOODS_2_241',
 'item_id_FOODS_2_242',
 'item_id_FOODS_2_243',
 'item_id_FOODS_2_244',
 'item_id_FOODS_2_245',
 'item_id_FOODS_2_246',
 'item_id_FOODS_2_247',
 'item_id_FOODS_2_248',
 'item_id_FOODS_2_249',
 'item_id_FOODS_2_250',
 'item_id_FOODS_2_251',
 'item_id_FOODS_2_252',
 'item_id_FOODS_2_253',
 'item_id_FOODS_2_254',
 'item_id_FOODS_2_255',
 'item_id_FOODS_2_256',
 'item_id_FOODS_2_257',
 'item_id_FOODS_2_258',
 'item_id_FOODS_2_259',
 'item_id_FOODS_2_260',
 'item_id_FOODS_2_261',
 'item_id_FOODS_2_262',
 'item_id_FOODS_2_263',
 'item_id_FOODS_2_264',
 'item_id_FOODS_2_265',
 'item_id_FOODS_2_266',
 'item_id_FOODS_2_267',
 'item_id_FOODS_2_268',
 'item_id_FOODS_2_269',
 'item_id_FOODS_2_270',
 'item_id_FOODS_2_271',
 'item_id_FOODS_2_272',
 'item_id_FOODS_2_273',
 'item_id_FOODS_2_274',
 'item_id_FOODS_2_275',
 'item_id_FOODS_2_276',
 'item_id_FOODS_2_277',
 'item_id_FOODS_2_278',
 'item_id_FOODS_2_279',
 'item_id_FOODS_2_280',
 'item_id_FOODS_2_281',
 'item_id_FOODS_2_282',
 'item_id_FOODS_2_283',
 'item_id_FOODS_2_284',
 'item_id_FOODS_2_285',
 'item_id_FOODS_2_286',
 'item_id_FOODS_2_287',
 'item_id_FOODS_2_288',
 'item_id_FOODS_2_289',
 'item_id_FOODS_2_290',
 'item_id_FOODS_2_291',
 'item_id_FOODS_2_292',
 'item_id_FOODS_2_293',
 'item_id_FOODS_2_294',
 'item_id_FOODS_2_295',
 'item_id_FOODS_2_296',
 'item_id_FOODS_2_297',
 'item_id_FOODS_2_298',
 'item_id_FOODS_2_299',
 'item_id_FOODS_2_300',
 'item_id_FOODS_2_301',
 'item_id_FOODS_2_302',
 'item_id_FOODS_2_303',
 'item_id_FOODS_2_304',
 'item_id_FOODS_2_305',
 'item_id_FOODS_2_306',
 'item_id_FOODS_2_307',
 'item_id_FOODS_2_308',
 'item_id_FOODS_2_309',
 'item_id_FOODS_2_310',
 'item_id_FOODS_2_311',
 'item_id_FOODS_2_312',
 'item_id_FOODS_2_313',
 'item_id_FOODS_2_314',
 'item_id_FOODS_2_315',
 'item_id_FOODS_2_316',
 'item_id_FOODS_2_317',
 'item_id_FOODS_2_318',
 'item_id_FOODS_2_319',
 'item_id_FOODS_2_320',
 'item_id_FOODS_2_321',
 'item_id_FOODS_2_322',
 'item_id_FOODS_2_323',
 'item_id_FOODS_2_324',
 'item_id_FOODS_2_325',
 'item_id_FOODS_2_326',
 'item_id_FOODS_2_327',
 'item_id_FOODS_2_328',
 'item_id_FOODS_2_329',
 'item_id_FOODS_2_330',
 'item_id_FOODS_2_331',
 'item_id_FOODS_2_332',
 'item_id_FOODS_2_333',
 'item_id_FOODS_2_334',
 'item_id_FOODS_2_335',
 'item_id_FOODS_2_336',
 'item_id_FOODS_2_337',
 'item_id_FOODS_2_338',
 'item_id_FOODS_2_339',
 'item_id_FOODS_2_340',
 'item_id_FOODS_2_341',
 'item_id_FOODS_2_342',
 'item_id_FOODS_2_343',
 'item_id_FOODS_2_344',
 'item_id_FOODS_2_345',
 'item_id_FOODS_2_346',
 'item_id_FOODS_2_347',
 'item_id_FOODS_2_348',
 'item_id_FOODS_2_349',
 'item_id_FOODS_2_350',
 'item_id_FOODS_2_351',
 'item_id_FOODS_2_352',
 'item_id_FOODS_2_353',
 'item_id_FOODS_2_354',
 'item_id_FOODS_2_355',
 'item_id_FOODS_2_356',
 'item_id_FOODS_2_357',
 'item_id_FOODS_2_358',
 'item_id_FOODS_2_359',
 'item_id_FOODS_2_360',
 'item_id_FOODS_2_361',
 'item_id_FOODS_2_362',
 'item_id_FOODS_2_363',
 'item_id_FOODS_2_364',
 'item_id_FOODS_2_365',
 'item_id_FOODS_2_366',
 'item_id_FOODS_2_367',
 'item_id_FOODS_2_368',
 'item_id_FOODS_2_369',
 'item_id_FOODS_2_370',
 'item_id_FOODS_2_371',
 'item_id_FOODS_2_372',
 'item_id_FOODS_2_373',
 'item_id_FOODS_2_374',
 'item_id_FOODS_2_375',
 'item_id_FOODS_2_376',
 'item_id_FOODS_2_377',
 'item_id_FOODS_2_378',
 'item_id_FOODS_2_379',
 'item_id_FOODS_2_380',
 'item_id_FOODS_2_381',
 'item_id_FOODS_2_382',
 'item_id_FOODS_2_383',
 'item_id_FOODS_2_384',
 'item_id_FOODS_2_385',
 'item_id_FOODS_2_386',
 'item_id_FOODS_2_387',
 'item_id_FOODS_2_388',
 'item_id_FOODS_2_389',
 'item_id_FOODS_2_390',
 'item_id_FOODS_2_391',
 'item_id_FOODS_2_392',
 'item_id_FOODS_2_393',
 'item_id_FOODS_2_394',
 'item_id_FOODS_2_395',
 'item_id_FOODS_2_396',
 'item_id_FOODS_2_397',
 'item_id_FOODS_2_398',
 'item_id_FOODS_2_399',
 'item_id_FOODS_3_001',
 'item_id_FOODS_3_002',
 'item_id_FOODS_3_003',
 'item_id_FOODS_3_004',
 'item_id_FOODS_3_005',
 'item_id_FOODS_3_006',
 'item_id_FOODS_3_007',
 'item_id_FOODS_3_008',
 'item_id_FOODS_3_009',
 'item_id_FOODS_3_010',
 'item_id_FOODS_3_011',
 'item_id_FOODS_3_012',
 'item_id_FOODS_3_013',
 'item_id_FOODS_3_014',
 'item_id_FOODS_3_015',
 'item_id_FOODS_3_016',
 'item_id_FOODS_3_017',
 'item_id_FOODS_3_018',
 'item_id_FOODS_3_019',
 'item_id_FOODS_3_020',
 'item_id_FOODS_3_021',
 'item_id_FOODS_3_022',
 'item_id_FOODS_3_023',
 'item_id_FOODS_3_024',
 'item_id_FOODS_3_025',
 'item_id_FOODS_3_026',
 'item_id_FOODS_3_027',
 'item_id_FOODS_3_028',
 'item_id_FOODS_3_029',
 'item_id_FOODS_3_030',
 'item_id_FOODS_3_031',
 'item_id_FOODS_3_032',
 'item_id_FOODS_3_033',
 'item_id_FOODS_3_034',
 'item_id_FOODS_3_035',
 'item_id_FOODS_3_036',
 'item_id_FOODS_3_037',
 'item_id_FOODS_3_038',
 'item_id_FOODS_3_039',
 'item_id_FOODS_3_040',
 'item_id_FOODS_3_041',
 'item_id_FOODS_3_042',
 'item_id_FOODS_3_043',
 'item_id_FOODS_3_044',
 'item_id_FOODS_3_045',
 'item_id_FOODS_3_046',
 'item_id_FOODS_3_047',
 'item_id_FOODS_3_048',
 'item_id_FOODS_3_049',
 'item_id_FOODS_3_050',
 'item_id_FOODS_3_051',
 'item_id_FOODS_3_053',
 'item_id_FOODS_3_054',
 'item_id_FOODS_3_055',
 'item_id_FOODS_3_056',
 'item_id_FOODS_3_057',
 'item_id_FOODS_3_058',
 'item_id_FOODS_3_059',
 'item_id_FOODS_3_060',
 'item_id_FOODS_3_061',
 'item_id_FOODS_3_062',
 'item_id_FOODS_3_063',
 'item_id_FOODS_3_064',
 'item_id_FOODS_3_065',
 'item_id_FOODS_3_066',
 'item_id_FOODS_3_067',
 'item_id_FOODS_3_068',
 'item_id_FOODS_3_069',
 'item_id_FOODS_3_070',
 'item_id_FOODS_3_071',
 'item_id_FOODS_3_072',
 'item_id_FOODS_3_073',
 'item_id_FOODS_3_074',
 'item_id_FOODS_3_075',
 'item_id_FOODS_3_076',
 'item_id_FOODS_3_077',
 'item_id_FOODS_3_078',
 'item_id_FOODS_3_079',
 'item_id_FOODS_3_080',
 'item_id_FOODS_3_081',
 'item_id_FOODS_3_082',
 'item_id_FOODS_3_083',
 'item_id_FOODS_3_084',
 'item_id_FOODS_3_085',
 'item_id_FOODS_3_086',
 'item_id_FOODS_3_087',
 'item_id_FOODS_3_088',
 'item_id_FOODS_3_089',
 'item_id_FOODS_3_090',
 'item_id_FOODS_3_091',
 'item_id_FOODS_3_092',
 'item_id_FOODS_3_093',
 'item_id_FOODS_3_094',
 'item_id_FOODS_3_095',
 'item_id_FOODS_3_096',
 'item_id_FOODS_3_097',
 'item_id_FOODS_3_098',
 'item_id_FOODS_3_099',
 'item_id_FOODS_3_100',
 'item_id_FOODS_3_101',
 'item_id_FOODS_3_102',
 'item_id_FOODS_3_103',
 'item_id_FOODS_3_104',
 'item_id_FOODS_3_105',
 'item_id_FOODS_3_106',
 'item_id_FOODS_3_107',
 'item_id_FOODS_3_108',
 'item_id_FOODS_3_109',
 'item_id_FOODS_3_110',
 'item_id_FOODS_3_111',
 'item_id_FOODS_3_112',
 'item_id_FOODS_3_113',
 'item_id_FOODS_3_114',
 'item_id_FOODS_3_115',
 'item_id_FOODS_3_116',
 'item_id_FOODS_3_117',
 'item_id_FOODS_3_118',
 'item_id_FOODS_3_119',
 'item_id_FOODS_3_120',
 'item_id_FOODS_3_121',
 'item_id_FOODS_3_122',
 'item_id_FOODS_3_123',
 'item_id_FOODS_3_124',
 'item_id_FOODS_3_125',
 'item_id_FOODS_3_126',
 'item_id_FOODS_3_127',
 'item_id_FOODS_3_128',
 'item_id_FOODS_3_129',
 'item_id_FOODS_3_130',
 'item_id_FOODS_3_131',
 'item_id_FOODS_3_132',
 'item_id_FOODS_3_133',
 'item_id_FOODS_3_134',
 'item_id_FOODS_3_135',
 'item_id_FOODS_3_136',
 'item_id_FOODS_3_137',
 'item_id_FOODS_3_138',
 'item_id_FOODS_3_139',
 'item_id_FOODS_3_140',
 'item_id_FOODS_3_141',
 'item_id_FOODS_3_142',
 'item_id_FOODS_3_143',
 'item_id_FOODS_3_144',
 'item_id_FOODS_3_145',
 'item_id_FOODS_3_146',
 'item_id_FOODS_3_147',
 'item_id_FOODS_3_148',
 'item_id_FOODS_3_149',
 'item_id_FOODS_3_150',
 'item_id_FOODS_3_151',
 'item_id_FOODS_3_152',
 'item_id_FOODS_3_153',
 'item_id_FOODS_3_154',
 'item_id_FOODS_3_155',
 'item_id_FOODS_3_156',
 'item_id_FOODS_3_157',
 'item_id_FOODS_3_158',
 'item_id_FOODS_3_159',
 'item_id_FOODS_3_160',
 'item_id_FOODS_3_161',
 'item_id_FOODS_3_162',
 'item_id_FOODS_3_163',
 'item_id_FOODS_3_164',
 'item_id_FOODS_3_165',
 'item_id_FOODS_3_166',
 'item_id_FOODS_3_167',
 'item_id_FOODS_3_168',
 'item_id_FOODS_3_169',
 'item_id_FOODS_3_170',
 'item_id_FOODS_3_171',
 'item_id_FOODS_3_172',
 'item_id_FOODS_3_173',
 'item_id_FOODS_3_174',
 'item_id_FOODS_3_175',
 'item_id_FOODS_3_176',
 'item_id_FOODS_3_177',
 'item_id_FOODS_3_178',
 'item_id_FOODS_3_179',
 'item_id_FOODS_3_180',
 'item_id_FOODS_3_181',
 'item_id_FOODS_3_182',
 'item_id_FOODS_3_183',
 'item_id_FOODS_3_184',
 'item_id_FOODS_3_185',
 'item_id_FOODS_3_186',
 'item_id_FOODS_3_187',
 'item_id_FOODS_3_188',
 'item_id_FOODS_3_189',
 'item_id_FOODS_3_190',
 'item_id_FOODS_3_191',
 'item_id_FOODS_3_192',
 'item_id_FOODS_3_193',
 'item_id_FOODS_3_194',
 'item_id_FOODS_3_195',
 'item_id_FOODS_3_196',
 'item_id_FOODS_3_197',
 'item_id_FOODS_3_198',
 'item_id_FOODS_3_199',
 'item_id_FOODS_3_200',
 'item_id_FOODS_3_201',
 'item_id_FOODS_3_202',
 'item_id_FOODS_3_203',
 'item_id_FOODS_3_204',
 'item_id_FOODS_3_205',
 'item_id_FOODS_3_206',
 'item_id_FOODS_3_207',
 'item_id_FOODS_3_208',
 'item_id_FOODS_3_209',
 'item_id_FOODS_3_210',
 'item_id_FOODS_3_211',
 'item_id_FOODS_3_212',